input {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #629ead;
}

  .numerator, .denominator {
      height: 50px;
      font-size: 2rem;
      text-align: center;
  }

  .whole-number {
      height: 100px;
      font-size: 3rem;
      margin:  10px;
      text-align: center;
  }

  .fraction-input {
      width: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

#fracBar {
    height: 2px;
    width: 70px;
    background-color: #333;
}

.symbol {
    font-size: 3rem;
}

@supports(field-sizing: inherit) {
  .whole-number, .numerator, .denominator {
    min-width: 70px;
    field-sizing: content;
}
}

@supports not (field-sizing: inherit) {
  .numerator, .denominator {
    width: 70px;
  }
  .whole-number {
    width: 80px;
  }
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 18px;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--faded-green-200);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--teal-500);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--teal-500);
    border: 2px solid var(--teal-900);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .model-selection {
    display: grid;
    grid-row: 2/3;
    width: 350px;
    grid-template-columns: 1fr 70px 1fr;
  }

  .right-toggle {
    grid-column: 3/4;
  }

  #to-scale {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.3rem;
   }
  
   #to-scale-checkbox {
    width: 1.3rem;
    height: 1.3rem;
   }
  
   #to-scale-checkbox:checked {
    color: var(--teal-800);
   }
  
   .button-and-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-bottom: 15px;
   }
  
   #type-of-division {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
   }
  
   #divisor-is-larger-checkbox {
    width: 1.3rem;
    height: 1.3rem;
   }

   .model-toggle {
    font-weight: 100;
   }

   input[type="checkbox"]:checked {
    accent-color: var(--teal-800); 
  }

 