input {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0px 2px 5px #629ead;
}

input:placeholder-shown {
  border: 2px solid hsl(0, 0%, 70%);
}

.numerator,
.denominator {
  height: 50px;
  font-size: 2rem;
  text-align: center;
}

.whole-number {
  height: 100px;
  font-size: 3rem;
  margin: 10px;
  text-align: center;
}

@media (max-width: 800px) {
  .numerator,
  .denominator {
    font-size: 1.4rem;
    width: 40px;
  }
  .whole-number {
    font-size: 1.9rem;
    width: 50px;
  }
}

@supports (field-sizing: inherit) {
  .whole-number,
  .numerator,
  .denominator {
    min-width: 70px;
    field-sizing: content;
  }
}

@supports not (field-sizing: inherit) {
  .numerator,
  .denominator {
    width: 70px;
  }
  .whole-number {
    width: 80px;
  }
}

.fraction-input {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.factor {
  display: flex;
  grid-row: 2/3;
}

.factor-with-label {
  display: grid;
  grid-template-rows: 25px 1fr;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

#factor2-fraction {
  display: none;
}

#fracBar {
  height: 2px;
  width: 70px;
  background-color: #333;
}

.symbol {
  font-size: 3.5rem;
  color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 5px;
  margin-top: 18px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--faded-green-200);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--teal-800);
}

input:focus + .slider {
  box-shadow: 2px 2px 1px black;
  /* outline: 2px solid var(--teal-900); */
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.model-selection {
  display: grid;
  grid-row: 2/3;
  width: 380px;
  grid-template-columns: 1fr 70px 1fr;
}

.right-toggle {
  grid-column: 3/4;
}

.model-toggle {
  font-weight: 100;
}

#to-scale-label {
  display: none;
  grid-column: 2/3;
}

#to-scale {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  grid-template-columns: 60px 190px;
}

#show-borders-label {
  display: flex;
  grid-column: 2/3;
}

#to-scale-checkbox {
  width: 1.3rem;
  height: 1.3rem;
  grid-column: 1/2;
}

#generate-multiplication {
  grid-row: 2/3;
}

#to-scale-checkbox:checked {
  color: var(--teal-800);
}

.button-and-checkbox {
  display: grid;
  grid-template-rows: 50px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
}

#type-of-division {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.3rem;
}

#divisor-is-larger-checkbox {
  width: 1.3rem;
  height: 1.3rem;
}

input[type="checkbox"]:checked {
  accent-color: var(--teal-800);
}

#divisor-larger {
  display: flex; /* Atered in JS */
  gap: 12px;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 0;
  justify-self: end;
  visibility: hidden;
  align-items: center;
}

#divisor-smaller {
  display: flex; /* Atered in JS */
  gap: 8px;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
  align-items: center;
}

#division-input-options {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 140px;
}
