body {
  background-color: white;
  display: grid;
  place-items: center;
  align-items: center;
  height: 97vh;
  gap: 15px;
  overflow-y: auto;
}

main {
  display: flex;
  flex-direction: column;
  place-items: start;
  align-items: start;
  font-size: 1.35rem;
  font-weight: 500;
}

#extra-copy {
  font-size: 1.35rem;
  font-weight: 500;
  margin: 40px;
  margin-top: 75px;
}

main h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 280px));
  grid-template-rows: repeat(auto-fit, minmax(270px, 330px));
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0px 2px 5px #629ead;
}

.grid-layout {
  display: grid;
  grid-template-rows: 60px 40px 150px 1fr 70px;
  margin-top: 10px;
  place-items: center;
  height: 100%;
  width: 100%;
  gap: 15px;
  text-align: center;
  align-items: center;
  overflow-y: none;
}

.user-inputs {
  display: flex;
  grid-row: 3/4;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 98vw;
}

.problem-input {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
}

svg {
  grid-row: 4/5;
}

.download-button-container {
  display: flex;
  align-self: center;
  grid-row: 5/6;
  gap: 20px;
}

.text-container {
  width: 80%;
  background-color: var(--faded-green-100);
  display: grid;
  gap: 0px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 25px;
  font-size: 1.3rem;
}

.blue-container h2 {
  margin-bottom: 5px;
}

.main-page {
  text-align: center;
}

#generate-multiplication {
  margin-top: 0px;
}
