.corner-logo {
  height: 80px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav-toggle {
  height: 80px;
  width: 80px;
  background-color: transparent;
  border: 0px solid transparent;
  position: fixed;
  z-index: 3;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#homepage-corner-logo {
  height: 60px;
  top: 3px;
  left: 3px;
}

a {
  color: #0d6979;
  text-decoration: none;
  padding: 8px;
}

.nav-link:hover {
  background-color: var(--teal-50);
  border-radius: 15px;
}

nav {
  display: flex;
  position: absolute;
  z-index: 1;
  padding-left: 70px !important;
  padding-right: 70px !important;
  gap: clamp(25px, 55px, 55px);
  font-size: 1.3rem;
  background-color: var(--teal-100);
  position: fixed;
  justify-content: center;
  font-weight: 500;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 12px;
}

@media (max-width: 950px) {
  nav {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .logo-text {
    display: none;
  }
  #logo-svg {
    display: none;
  }
}

.side-nav[data-state="open"] {
  width: 135px;
  position: fixed;
  z-index: 2;
  border-radius: 15px;
  left: 0;
  gap: 40px;
  padding-top: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--teal-100);
}

.side-nav[data-state="closed"] {
  display: none;
}
