:root {
  --teal-50: #e3feff;
  --teal-100: #c9eaec;
  --teal-200: #b3d7d3;
  --teal-400: #6ec2cf;
  --teal-500: #52a4b0;
  --teal-800: #347d88;
  --teal-900: #16434a;

  --peach-200: #f5b9ad;
  --peach-500: #f0a68c;
  --green-400: #9de56c;
  --green-200: #b7dd82;
  --faded-green-50: #d9f5b8;
  --faded-green-100: #daecb1;
  --faded-green-200: hsl(83, 48%, 67%);
  --light-orange: #f8d2a3;

  --light-gray: rgb(195, 195, 195);

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: var(--teal-900);
  box-sizing: border-box;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 70px;
  margin-right: 70px;
  grid-row: 1/2;
}

.requirements {
  font-size: 2rem;
  font-weight: 100;
}

.blue-button,
.download-button {
  align-items: center;
  background-color: var(--teal-100);
  border: 5px solid var(--teal-800);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 4px;
  max-width: 20ch;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: var(--teal-900);
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 0.4s;
}

alert {
  background-color: var(--teal-200);
}

.blue-button:hover,
.blue-button:focus,
.download-button:hover,
.download-button:focus {
  background-color: white;
}

#division-warning {
  font-size: 1.25rem;
}

h2 {
  font-weight: 200;
}

@font-face {
  font-family: "Lovelo-LineBold";
  src: url(../Lovelo/Commercial/WEB/Lovelo-LineBold.woff);
}

#large-logo-container {
  place-items: center;
  width: 400px;
  height: 400px;
  text-align: center;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 400px;
}

.logo-text {
  font-family: "Lovelo-LineBold", sans-serif;
  color: var(--teal-900);
  line-height: 1.5;
  margin-left: 100px;
  font-size: 4.5rem;
  text-shadow: 4px 4px 1px var(--teal-400);
  font-weight: 800;
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 1;
}

#logo-svg {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 0;
  margin-top: 25px;
  animation: svgShadow;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes svgShadow {
  0% {
    filter: none;
  }
  20% {
    filter: drop-shadow(3px 5px 5px rgba(52, 125, 136, 0.2));
  }
  50% {
    filter: drop-shadow(3px 5px 2px rgba(52, 125, 136, 0.5));
  }
  80% {
    filter: drop-shadow(3px 5px 2px rgba(28, 75, 82, 0.7));
  }
  100% {
    filter: drop-shadow(3px 5px 2px rgba(16, 49, 54, 0.85));
  }
}

#buy-me-a-coffee {
  position: fixed;
  padding-right: 7px;
  bottom: 30px;
  right: 30px;
  color: var(--faded-green-100);
  font-size: 1.7rem;
  background-color: var(--teal-800);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--teal-400);
}

#buy-me-a-coffee:hover {
  background-color: var(--teal-900);
}

.bold-link {
  font-weight: 600;
  text-decoration: underline;
}

.title {
  margin-top: 20px;
}

#basic-copy-button[data-state="copied"] {
}
